.slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
  height: 500px; /* Adjust the height as needed */
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  height: 100%;
}

.slide {
  min-width: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  position: relative;
}

.slide-content {
  position: absolute;
  bottom: 90px;
  left: 80px;
  color: white;
  background: transparent;
  padding: 20px;
  border-radius: 8px;
}

.slide-content h2 {
  margin: 0;
  font-size: 2rem;
}

.slide-content p {
  margin: 10px 0;
  font-size: 1.2rem;
}

.slide-content button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.slide-content button:hover {
  border: 4px solid white;

}

.prev, .next {
  position: absolute;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  font-size: 18px;
  transform: translateY(-50%);
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.extra-content {
  margin-top: 20px;
  text-align: center;
}
